<div class="PostsItem2-root PostsItem2-background PostsItem2-bottomBorder PostsItem2-postsItem PostsItem2-withGrayHover">
    <span class="typography___FORUM__ PostsItem2-karma LWTooltip-root">__SCORE__</span>
    <span class="PostsItem2-title PostsTitle-root">
        <a href="__POST_URL__">__POST_TITLE__</a>
    </span>
    <span class="PostsItem2-spacer"></span>
    <div class="typography___FORUM__ PostsItem2-author PostsUserAndCoauthors-lengthLimited">
        <a class="UsersNameDisplay-userName" href="__USER_URL__">__USER_NAME__</a>
    </div>
    <span class="LWTooltip-root typography___FORUM__ PostsItemDate-postedAt">__TIME_AGO__</span>
    <div class="PostsItem2-mobileSecondRowSpacer"></div>
    <div class="PostsItemComments-commentsIconLarge">
        <svg
            class="MuiSvgIcon-root PostsItemComments-commentCountIcon PostsItemComments-noUnreadComments"
            focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
            <use href="#p1"></use>
            <use href="#p2"></use>
        </svg>
        <div class="PostsItemComments-commentCount">__COMMENT_COUNT__</div>
    </div>
    <div class="timerect">
        <div class="timerect_top" style="height:__HEIGHT_INVERSE__%"></div>
        <div class="timerect_bottom" style="height:__HEIGHT__%"></div>
    </div>
</div>