<div class="PostsItem2-root PostsItem2-background PostsItem2-bottomBorder">
    <div class="PostsItem2-postsItem PostsItem2-withGrayHover">
        <div class="timerect">
            <div class="timerect_top" style="height:__HEIGHT_INVERSE__%"></div>
            <div class="timerect_bottom" style="height:__HEIGHT__%"></div>
        </div>
        <span
            class="Typography-root Typography-body2 PostsItem2MetaInfo-metaInfo PostsItem2-karma"><span
                class="LWTooltip-root">__SCORE__</span></span><span class="PostsItem2-title"><span><span
                    class="PostsTitle-root"><a
                        href="__POST_URL__"><span><span>__POST_TITLE__
                        </span></span></a><span class="PostsTitle-hideSmDown"><span
                            class="PostsItemIcons-iconSet"></span></span></span></span></span><span
            class="PostsItem2-spacer"></span><span
            class="Typography-root Typography-body2 PostsItem2MetaInfo-metaInfo PostsItem2-author">
            <div class="PostsUserAndCoauthors-lengthLimited"><span><span class=""><a class="UsersNameDisplay-userName"
                            href="__USER_URL__">__USER_NAME__</a></span></span></div>
        </span><span class="LWTooltip-root"><span
                class="Typography-root Typography-body2 PostsItem2MetaInfo-metaInfo PostsItemDate-postedAt">__TIME_AGO__</span></span>
        <div class="PostsItem2-mobileSecondRowSpacer"></div>
        <div class="PostsItemComments-commentsIconLarge"><svg
                class="MuiSvgIcon-root PostsItemComments-commentCountIcon PostsItemComments-noUnreadComments"
                focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18z"></path>
                <path fill="none" d="M0 0h24v24H0z"></path>
            </svg>
            <div class="PostsItemComments-commentCount">__COMMENT_COUNT__</div>
        </div>
    </div>
</div>